{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - Snippetbox</title>
    </head>
    <body>
        <header>
            <h2><a href='/'>Electrum</a></h2>
        </header>
        <footer><p><a href="/database">База данных</a>  |  <a href="/some">Всячина</a>  |  <a href="/people">Люди</a></p>  </footer>
        <nav>
            <a href='/'>Домашняя страница</a>
        </nav>
        <main>
            {{template "main" .}}
        </main>
    </body>
</html>
{{end}}